<div class="container col-md-2">

<div class="panel panel-primary ">
  <div class="panel-heading">
    <h3 class="panel-title">Category</h3>
  </div>
  <div class="panel-body">
    <%= @expense.category.name %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Date</h3>
  </div>
  <div class="panel-body">
    <%= @expense.date %>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Concept</h3>
  </div>
  <div class="panel-body">
    <%= @expense.concept %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Amount</h3>
  </div>
  <div class="panel-body">
    <%= @expense.amount %>
  </div>
</div>


<%= link_to 'Volver', expenses_path, class: 'btn btn-success' %>
<td><%= link_to 'Editar', edit_expense_path(@expense), class: 'btn btn-danger' %></td>
</div>